# Compiled source #
###################
*.o
*.mod

# Data files #
##############
*.dat

# Images #
##########
*.png
*.jpg
*.jpeg

# Directories #
#######################
/old_tests
/results
/tests/results