# Compiled source #
###################
*.o
*.mod

# Data files #
##############
*.dat

# Images #
##########
*.png
*.jpg
*.jpeg

# Directories #
#######################

# Specific files #
#######################
src/input.txt
